language: rust

sudo: required

rust:
  - nightly

matrix:
  allow_failures:
    - rust: nightly

dist: focal
addons:
  apt:
    packages:
      - kcov

after_success: |
  for file in target/debug/compression-*; do [ -x "${file}" ] || continue; mkdir -p "target/cov/$(basename $file)"; kcov --exclude-pattern=/.cargo,/usr/lib --verify "target/cov/$(basename $file)" "$file"; done &&
  bash <(curl -s https://codecov.io/bash) &&
  echo "Uploaded code coverage"
